@use '../helpers/' as *;

.input-area {
  &__form {
    display: flex;
  }

  &__task {
    padding: rem(10) rem(20);
    border-right: none;
  }

  &__button {
    border-radius: 0 6px 6px 0;
  }
}

.input-section {
  flex: 1;
  border: $border;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
  transition-duration: $transition;
  &:focus, &:focus-visible {
    outline: none;
    border-color: $color-hover;
  }
}

.input-area__edit-task {
  padding: rem(5) rem(20);
}

.input-area__save-button {
  padding: 7px 20px;
  border-radius: 0 6px 6px 0;
}