$color-main: #8052ec;
$color-hover: #d888f1;
$color-white: #fff;
$color-bg-page: #f0f0f0;
$color-bg-app: #fff;
$color-bg-text: #f3f2ff;
$color-box-shadow: #c0c0c0;

$border: 2px solid $color-main;
$border-radius: 1rem;
$border-bottom: 2px solid $color-main;

$transition: 0.3s;
$scale-click: scale(0.9);
$scale-hover: scale(1.05);


:root {
  --spacing: 1rem;
  --fontSize: 18px;
}
