@use '../helpers/' as *;

body {
  font-family: "Karla", sans-serif;
  font-size: var(--fontSize);
  background-color: var(--color-background-page);
  color: var(--color-text);
}

section {
  background-color: var(--color-background-app);
  border-radius: $border-radius;
  padding: calc(var(--spacing) * 2);
  box-shadow: 0px 10px 30px var(--color-box-shadow);
  transition-duration: $transition;
}

.title {
  display: block;
  text-align: center;
  color: $color-main;
  font-size: fluid(42, 24);
  font-weight: 600;
}
.main-title {
  background-color: var(--color-background-titles);
}

.button {
  background-color: $color-main;
  color: $color-white;
  border: none;
  transition-duration: $transition;
  cursor: pointer;

  &:hover {
    background-color: $color-hover;
  }

  &:active {
    transform: $scale-click;
  }
}